{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" >

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

</head>
<body>
    <div class="wrapper">
        <span class="bg-animate"></span>
        <div class="form-box login">         
            <h2>Our Course Registration System simplifies course selection by offering a diverse range of expert-led courses tailored to your interests. With intuitive navigation and detailed course descriptions, finding the perfect course is effortless. Whether you're a student exploring new subjects or a professional seeking skill enhancement, start your educational journey with us today!</h2>
            </div>
        <div class="info-text login">
            <h2> Welcome to the Course Registration System ! </h2>
        


        </div>
    </div>
{% endblock %}
    </body>
</html>
